{% extends 'account/base.html' %}
{% load static %}
{% block content %}
		
<div class="inner-banner" id="home">
	<div class="container">
		
	</div>	
</div>
<!-- banner -->

<section class="banner position-relative" id="home">
	<div class="container">
		<div class="banner-text">
			<div class="slider-info">
				<div class="agileinfo-logo mt-lg-0">
					<h2>Ship Anything <br> Around the World </h2>
					<h3>{% include 'messages.html' %}</h3>
				</div>
			</div>
		</div>
		<div class="choose text-center position-absolute d-lg-flex" style="margin-top: 10px;">
			<div class="main_grid_contact">
				<div class="form">
					<h3 class="text-capitalize mb-2">Enter Your Tracking ID</h3>
					<form action="" method="post">
						{% csrf_token %}
						<div class="input-group">
							<input type="text" style="width: 100%;" class="margin5" name="id" placeholder="Tracking number" required="">
						</div>
						<div class="input-group1">
							<button class="submit btn"  data-toggle="modal" data-target="#exampleModalCenter">Track </button>
						</div>
					</form>
				</div>
				<div class="w3ls-contact">
					
					<h3 class="text-capitalize mb-1"><h3 style="text-decoration: underline;">HEAD OFFICE</h3>
					<!-- <p class="" style="font-weight: bold; color:aqua">You can also contact us via live chat</p> -->
					<address>
						<p class="mt-3"><span class="fa fa-map-marker"></span> 7521 NW 52nd St <span> Maimi, Florida </span>United State </p>
						<p class="my-2"><span class="fa fa-phone"></span> (813) 693-2568</p>
						<p class=""><span class="fa fa-envelope-open"></span> <a href="mailto:mail@example.com">info@FreightR.us</a> </p>
					</address>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="how">
	
	<div class="container py-lg-5">
		
		<div class="row about-grids">
			<div class="col-lg-6 about-left">
				<img src="{% static './images/banner.jpg' %}" class="img-fluid">
			</div>
			<div class="col-lg-6 grid1 mt-lg-0 mt-4 pl-lg-5">
				<h3 class="my-lg-4 mb-2">ABOUT</h3>
				<p class="">Whether you have full container loads, dangerous goods, LCL or large over dimensional project cargo, FreightR can arrange for transportation to and from any destination in the world as an NVOCC or a licensed forwarder.
					With our own consolidation services, you can rely on timely and efficient service. Our experienced staff offer a full range of documentation including letters of credits, banking, insurance and consular legalization among others to assist with your export.</p>
				<p class="mt-3">Through the use of our integrated track and trace system, FreightR will follow up on the delivery of your orders, wherever your source in the world. With our network of offices and qualified partners around the world, we can handle all of your transportation needs.</p>
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- services -->
<section class="services py-5 bg-clr" id="services">
	<div class="container py-lg-5">
		<div class="row mt-lg-5">
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-md-0 mb-4">
				<h4 class="heading mt-3 ml-3">We Provide Safe & Secure Shipping Services around the world</h4>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-ship" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<h4>Sea freight</h4>
							<p>Sea freight services, also known as ocean freight, is one of the longest established forms of transporting goods internationally. It’s also one of the most economical. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-md-0 mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-plane" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<h4>Air Freight</h4>
							<p>FreightR can handle your airfreight needs. Our trained airfreight specialists can service your time-sensitive shipments to and from any place in the world.</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<!-- <div class="our-services-wrapper mb-md-0 mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-ship" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<h4>Ocean Freight</h4>
							<p>Proin varius pellentesque nunc ut ipsum tincidunt ante. Init id lacus sed semper at tempus vel.</p>
						</div>
					</div>
				</div> -->
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper mb-60">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-truck" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<h4>Truck Transport</h4>
							<p>Finished products travel on trucks to wholesalers and retailers in the same destinations around the region, the country, or the world. </p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="our-services-wrapper">
					<div class="services-inner">
						<div class="our-services-icon">
							<span class="fa fa-truck" aria-hidden="true"></span>
						</div>
						<div class="our-services-text">
							<h4>Land Freight</h4>
							<p>Our extensive network of operators allows us to connect even the most complex terrain through land transportation.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //services -->

<!-- stats -->
<section class="stats py-5">
	<div class="container py-lg-5 py-md-3">
		<div class="row stat-grids">
			<div class="col-lg-5">
				<h4 class="heading mb-3">Logistics Statistical growth</h4>
				<p class="">Through over 250 international agents and offices the people at FreightR are pulled together across all countries and divisions by one guiding principle, 
					that is to deliver value to the client.</p>
			</div>
			<div class="col-lg-6 offset-lg-1 stats-right">
				<div class="row stats-inner-grid">
					<div class="col-sm-6 col-6">
						<h4>950</h4>
						<p>Satisfied <br>Clients</p>
					</div>
					<div class="col-sm-6 col-6">
						<h4>250+</h4>
						<p>Branches <br>Worldwide</p>
					</div>
				</div>
				<div class="row stats-inner-grid mt-5">
					<div class="col-sm-6 col-6">
						<h4>650</h4>
						<p>Shipments <br>Completed</p>
					</div>
					<div class="col-sm-6 col-6">
						<h4>100%</h4>
						<p>Safe <br>Shipping</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //stats -->

<!-- shipping -->
<section class="shipping py-5">
	<div class="container py-lg-5 py-md-3">
		<div class="row">
			<div class="col-lg-5 p-md-0">
				<img src="{{'/static/images/about.jpg'}}" alt="" class="img-fluid"/>
			</div>
			<div class="col-lg-7 p-0 mt-lg-0 mt-4">
				<div class="shipping-right mb-5 mt-5">
					<h4 class="heading"> Your goods transport cost starts from 12$.</h4>
						<!-- <p class="mt-3">Integer pulvinar leo id viveerrra feugiat. Pellenttesque libero ut justo, semper at tempus vel, ultrices ipsum ligula. Nullae sollicit udin velit. semper at tempus vel  pulvinar leo id viverra feugiat semper at tempus ultrices ipsum pulvinar.</p> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //shipping -->


</body>
{% endblock content %}
</html>