{% extends 'account/base.html' %}
{% load static %}
{% block content %}


<!-- inner banner -->
<div class="inner-banner" id="home">
	<div class="container">
		
	</div>	
</div>
<!-- inner banner -->

<!-- contact -->
<section class="contact py-5 my-lg-5">
	<h2 class="heading text-center mb-sm-5 mb-4"> Get In Touch </h2>
	<div class="map">
	<iframe src="https://maps.google.com/maps?q=7521%20NW%2052nd%20St%20Maimi,%20Florida&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		<div class="main_grid_contact">
			<div class="form" >
				<div style="color: green; font-size: 20px; font-weight: bolder;">
					{% if messages %}
					{% for message in messages %}
					{{message}}
					{% endfor %}
					{% endif %}
					</div>
				<h3 class="text-capitalize mb-2">send us a message</h3>
				<form action="" method="POST">
					{% csrf_token %}
					<div class="input-group">
						<input id="name" type="text" class="margin2" name="name" placeholder="Full name" required="">
						<input id="subject" type="text" name="subject" placeholder="Subject" required="">
					</div>
					<div class="input-group">
						<input id="email" type="email" class="margin2" name="email" placeholder="mail@example.com"  required="">
						<input id="number" type="text" name="number" placeholder="phone number"  required="">
					</div>
					<div class="input-group">
						<textarea rows="4" cols="50" id="message" name="message" placeholder="message"></textarea>
					</div>
					<div class="input-group1">
						<button type="submit" class="submit btn">Send </button>
					</div>
				</form>
				
			</div>
			<div class="w3ls-contact">
				<h3 class="text-capitalize mb-3">contact Information</h3>
				<p class="" style="font-weight: bold;">If you have any questions regarding the results of your shipment, please contact us. You can also make use of our life-chat for faster communication.</p>
				<address>
					<p class="mt-3"><span class="fa fa-map-marker"></span>7521 NW 52nd St Maimi, Florida<span> USA.</span> </p>
					<p class="my-2"><span class="fa fa-phone"></span> (813) 693-2568 ( </p>
					<p class=""><span class="fa fa-envelope-open"></span> <a href="mailto:mail@example.com">info@FreightR.com</a> </p>
				</address>
			</div>
		</div>
	</div>
</section>
<!-- //contact -->



</body>
{% endblock content %}
</html>