{% extends 'account/base.html' %}
{% load static %}
{% block content%}


<!-- inner banner -->
<div class="inner-banner" id="home">
	<div class="container">
		
	</div>	
</div>
<!-- inner banner -->

<!-- error page -->
<section class="error-section py-5 text-center">
	<div class="container py-md-3">
		<h2 class="">404 <span>- Page Not Found</span></h2>
		<p class=""><span class="fa fa-frown-o" aria-hidden="true"></span> Something Went Wrong</p>
		<p class="">Oops! The page you are looking for cannot be found</p>
		<a href="index.html">Back To Home</a>
	</div>	
</section>
<!-- error page -->



</body>
{% endblock content %}
</html>