{% extends 'account/base.html' %}
{% load static %}
{% block content%}


<!-- inner banner -->
<div class="inner-banner" id="home">
	<div class="container">
		
	</div>	
</div>
<!-- inner banner -->


<section>
	<div class="map">
		<iframe src="https://maps.google.com/maps?q=7521%20NW%2052nd%20St%20Maimi,%20Florida&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>		
		<div class="main_grid_contact">
			<div class="form">
				<h3 class="text-capitalize mb-2">Enter Your Tracking Number</h3>
				<form action="" method="post">
					{% csrf_token %}
                     {% include 'messages.html' %}
					<div class="input-group">
						<input type="text" style="width: 100%;" class="margin5" name="id" placeholder="Tracking number" required="">
					</div>
					<div class="input-group1">
						<button class="submit btn"  data-toggle="modal" data-target="#exampleModalCenter">Track </button>
					</div>
				</form>
			</div>
			<div class="w3ls-contact">
				<h3 class="text-capitalize mb-3">Tracking Details</h3>
				<p class="">If you have any questions regarding the results of your shipment tracking results, please contact us </a></p>
				<!-- <address>
					<p class="mt-3"><span class="fa fa-map-marker"></span> 1380H 4th cross, Kmome St, NY 10002,<span> Canada.</span> </p>
					<p class="my-2"><span class="fa fa-phone"></span> (260) 623-4353</p>
					<p class=""><span class="fa fa-envelope-open"></span> <a href="mailto:mail@example.com">mail@octalcargos.com</a> </p>
				</address> -->
			</div>
		</div>
	</div>
</section>
<!-- //contact -->



</body>
{% endblock content %}
</html>